.app-info-block {
  display: flex;
  flex-direction: column;
  padding: 86px 0 200px;
  @media (max-width: 850px) {
    padding: 18px 0 90px;
  }
  .site-content {
    display: flex;
    flex-direction: column;
    .tb-1 {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      @media (max-width: 850px) {
        gap: 20px;
      }
      p {
        color: var(--Dark-Purple, #241063);
        text-align: center;
        font-family: "Circular Std";
        font-size: 68px;
        font-style: normal;
        font-weight: 450;
        line-height: 120%; /* 81.6px */
        max-width: 750px;
        width: 100%;
        @media (max-width: 850px) {
          font-size: 32px;
          max-width: 278px;
        }
        .tb-s-1 {
          color: var(--Primary, #FF5C1D);
          font-family: "Circular Std";
          font-size: 68px;
          font-style: normal;
          font-weight: 450;
          line-height: 120%;
          @media (max-width: 850px) {
            font-size: 32px;
          }
        }
        .tb-s-2{
          background: linear-gradient(95deg, #FF5C1D 41.06%, #FE9551 89.68%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: "Circular Std";
          font-size: 68px;
          font-style: normal;
          font-weight: 450;
          line-height: 120%;
          @media (max-width: 850px) {
            font-size: 32px;
          }
        }
      }
      a {
        border-radius: 8px;
        background: var(--Primary, #FF5C1D);
        display: inline-flex;
        padding: 24px 44px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--Light-Grey, #F5F5F5);
        text-align: center;
        font-feature-settings: 'liga' off;
        font-family: "Circular Std";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 28.8px */
        @media (max-width: 850px) {
          font-size: 14px;
          padding: 16px 32px;
        }
      }
    }
    .image-block {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 189px;
      position: relative;
      @media (max-width: 850px) {
        padding-top: 70px;
      }
      .circle1 {
        position: absolute;
        width: 528.749px;
        height: 528.749px;
        flex-shrink: 0;
        border-radius: 528.749px;
        background: #FC682F;
        filter: blur(224.99942016601562px);
        right: -20%;
        top: 4%;
        @media (max-width: 850px) {
          width: 235px;
          height: 235px;
        }
        @media (max-width: 470px) {
          right: 0;
        }
      }
      .circle2 {
        position: absolute;
        border-radius: 528.749px;
        background: #F9EF99;
        filter: blur(224.99942016601562px);
        width: 528.749px;
        height: 528.749px;
        flex-shrink: 0;
        bottom: 0;
        left: -30%;
        @media (max-width: 1024px) {
          width: 428.749px;
          height: 428.749px;
        }
        @media (max-width: 850px) {
          width: 235px;
          height: 235px;
        }
        @media (max-width: 470px) {
          left: 0;
        }
      }
      .circle3 {
        position: absolute;
        border-radius: 528.749px;
        background: var(--Light-Purple, #EAE3FE);
        filter: blur(224.99942016601562px);
        width: 528.749px;
        height: 528.749px;
        flex-shrink: 0;
        bottom: 0;
        right: -20%;
        @media (max-width: 1024px) {
          width: 428.749px;
          height: 428.749px;
        }
        @media (max-width: 850px) {
          width: 235px;
          height: 235px;
        }
        @media (max-width: 470px) {
          right: 0;
        }
      }
      .picture-container {
        position: relative;
        height: 990px;
        width: 534px;
        @media (max-width: 850px) {
          width: 327px;
          height: 457px;
        }
        picture {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 4;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position:  center;

          }
        }
      }

    }
    .tb-2 {
      display: flex;
      flex-direction: column;
      gap: 55px;
      padding-top: 170px;
      width: 100%;
      align-items: center;
      @media (max-width: 850px) {
        gap: 21px;
        padding-top: 70px;
      }
      .tb-t-1 {
        color: var(--Dark-Purple, #241063);
        text-align: center;
        font-family: "Circular Std";
        font-size: 64px;
        font-style: normal;
        font-weight: 450;
        line-height: 120%; /* 76.8px */
        max-width: 1056px;
        width: 100%;
        @media (max-width: 850px) {
          font-size: 24px;
          max-width: 293px;
        }
        span {
          position: relative;
          &:last-child {
            width: 71px;
            display: inline-block;
            height: 71px;
            svg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -30%);
            }
          }
          @media (max-width: 850px) {
            &:first-child {
              svg {
                width: 32px;
                height: 32px;
              }
            }
            &:last-child {
              width: 19px;
              height: 23px;
              svg {
                width: 29px;
                height: 29px;
                position: absolute;
              }
            }
          }
        }
      }
      .app-store-download {
        width: fit-content;
        display: inline-flex;
        padding: 16px 24px;
        align-items: center;
        gap: 24px;
        border-radius: 8px;
        background: #000;
        @media (max-width: 850px) {
          svg {
            width: 35px;
            height: 35px;
          }
        }
        p {
          color: var(--Light-Grey, #F5F5F5);
          text-align: center;
          font-feature-settings: 'liga' off;
          font-family: "Circular Std";
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 28.8px */
          @media (max-width: 850px) {
            font-size: 16px;
          }
          span {
            color: var(--Light-Grey, #F5F5F5);
            text-align: center;
            font-feature-settings: 'liga' off;
            font-family: "Circular Std";
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 48px */
            @media (max-width: 850px) {
              font-size: 24px;
            }
          }
        }
      }
      .tb-t-2 {
        max-width: 761px;
        width: 100%;
        color: #FF5C1D;
        text-align: center;
        font-family: "Circular Std";
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; /* 125% */
        letter-spacing: -1.28px;
        @media (max-width: 850px) {
          max-width: 288px;
          font-size: 24px;
          svg {
            width: 31px;
            height: 32px;
          }
        }
      }
    }
  }
}